:root {
  --main-link-color: white;
  --nav-color:rgba(100,160,111,1);
  --nav-bg-color:rgba(50,50,100,.1);
  --dropdown-hover-color:rgba(100,50,100,1);
  --nav-link-color:rgba(50, 20,100, 0.7);
  --nav-link-hover-color: rgba(150, 20, 20, 1);
  --projects-bg:rgba(100, 0, 90, 0.5);
    --contact-bg:rgba(100, 50, 110, 0.5);
  --main-bg: #be3144;
  --icon-bg:rgba(100, 0, 90, 0.5);
}
.search{
  padding: 10px 40px 10px 40px;

}
a{
  color: var(--nav-link-color);
}
a:hover{
 text-decoration: none;
}
body{
  font-family: Lora;
}
.navbar{
  margin:30px;
  padding:15px 30px 15px 30px;
  font-family:"Open Sans";
  font-weight: bold;
  border-radius: 25px;
  background-color: var(--nav-bg-color);
  color:var(--nav-color);
}
.nav-link{
  margin-left: 15px;
  color:var(--nav-link-color);
}
.nav-link:hover{
  color:var(--nav-link-hover-color);
  transition: 2s;
}
.card {
  font-family:"Open Sans"
  border:0px;

}
.card-header{
  text-align: left;
  font-size: 20px;
  background: white;
  border-bottom: none;
}
.list-group{
  max-height: 250px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}
.card .list-group-item{
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}
.badge-link{
  color:black;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 30px;
  padding: 5px 10px 5px 10px;
  text-decoration: : none;
  border-radius: 10px;
  background: rgba(100, 22,22, 0.05);
}
.badge-link:hover{
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.2s;
}
.gallery-img{
  border-radius: 10px;
  opacity: .8;
}
.gallery-img:hover{
  transition: .5s;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.6);
}
.selectedBadge{
  background-color: var(--nav-bg-color);
  font-weight: bold;
  color: rgba(80, 80, 150, 1);
}
.drop-link{
  width: max-content;
  max-width: 650px;
}
.drop-link-item{
  white-space: unset;
}
.drop-link-item:hover{
  color:var(--dropdown-hover-color);
  font-size: 1.1em;
  font-weight: unset;
  transition: 1s;
  border-radius: 5px;

}
